.main_page{
    text-decoration:underline; 
}
a.droite {
    margin-left: 1610%;
}


#conteneur{
    margin-left:90%;
}


form {
	margin-left: 40%;
	margin-top: 10%;
}
.a{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}


.form-control{
	width: 25% !important;
}
.titre{
	margin-left: 25%;
}
.headerPage{
	margin-top: 4%;
	margin-left: 2%;
	padding-bottom: 2%;
}

a{
	text-decoration: none;
	color: white;
}

#connexion{
	margin-top: 2%;
}
.col-lg-2{
	margin-top: 2%;
}


.center { text-align: center }
.center table {margin-left:auto; margin-right:auto;}
.left {text-align: right}
.right {text-align: left}
.error {color: red;}