.table{
	background-color: #ddd;
	width: 25% !important;
	margin-left: 38%;
}

.ajouter{
    margin-left: 90%;
    text-decoration: underline;
    background: #4267b2;
    border-color: #29487d;
    color: white;
    padding: 5px;
    text-align: center;
	margin-top: -10%;
	margin-bottom: 10%;
    margin-right: 1%;
}

.a{
	color: white;
}
