.table{
	background-color: #ddd;
	width: 23% !important;
	margin-left: 39%;
}
.ajouter{
    margin-left: 90%;
    text-decoration: underline;
    background: #796891;
    border-color: #6f5f80;
    color: white;
    padding: 5px;
    text-align: center;
	margin-top: -10%;
	margin-bottom: 10%;
    margin-right: 1%;
}


.a{
	color: white;
}

.titre{
	width: 17%;
    position: relative;
    right: -38%;
    margin-top: 15%;
}