body{
	background: url(../pers.jpg);
	background-attachment: fixed;
}

.table{
	background-color: #ddd;
	width: 60% !important;
	margin-left: 20%;
}

.titre{
	margin-left: 40%;
    margin-top: -4%;
    margin-bottom: 5%;
}

.ajouter{
    margin-left: 90%;
    text-decoration: underline;
    background: #796891;
    border-color: #6f5f80;
    color: white;
    padding: 5px;
    text-align: center;
	margin-top: -10%;
	margin-bottom: 10%;
    margin-right: 1%;
}

.a{
	color: white !important;
}